@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #312e2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.controls {
  filter: invert();
}

.cell > img {
  position: absolute;
  z-index: 1;
}

.cell > span {
  position: absolute;
  z-index: 2;
  font-weight: 700;
}

.cell > span.alphabetic {
  bottom: 5%;
  right: 5%;
}

.cell > span.numeric {
  left: 5%;
  top: 5%;
}

.cell {
  position: relative;
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.userform {
  /* width: 30%; */
  display: inline-block;
  vertical-align: revert;
  margin-left: 25px;
}

.puzzleinput {
  /* width: 30%; */
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

input,
button {
  margin: 0 10px 10px 0;
}

#avatar {
  height: 60px;
  width: 60px;

  clip-path: circle(at center);
}
